@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.raleway-nav-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.noto-serif-noto {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;

}

.noto2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5rem;
}

.field a {
    color: #ffffff;
}

.inter-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}

/*Nav-Bar*/
.nav-color2 {
    color: rgba(137, 135, 161, 1);
}
.nav-foot a{
color: rgba(137, 135, 161, 1);
}

.home {
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
}

.cart-font {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

.card-heading h1 {
    font-size: 3rem;

}

.card-heading p {
    font-size: 1.3rem;
}


.nav-link {
    text-decoration: none;
    align-items: center;
    justify-content: flex-end;
}

.nav-items {
    list-style: none;
    margin-right: 48px;

}

.cart {
    max-width: 4%;
    margin-right: 10px;
}

.navbar {
    justify-content: space-between;
}

.flower-content p {}

.navbar .logo {
    height: 10%;
    width: 10%;
}

.navbar,
.main,
.card,
.container,
.container2,
.field,
.footer-end,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/*  banner */
.banner {

    justify-content: space-between;
    margin-top: 3%;

}

.banner-content {
    max-width: 570px;

    padding-top: 17%;
}

.ban-img {
    margin-left: 10%;
    margin-top: 7%;

}

.ban-img img {

    width: 100%;
    height: 100%;

}



.orange {
    color: rgba(233, 90, 8, 1);
}

.banner-content h1 {
    font-weight: bold;
    font-size: 4.23rem;

}

.banner-content p {

    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.5rem;

}

.flex {
    flex: 1;
}


/*main-card*/
.card {
    margin-top: 120px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    row-gap: 5%;
    column-gap: 3%;



}

.flower-content button {
    width: 100%;
    border: #f25c05;
    border-radius: 7%;
    font-size: 1.5rem;


}

button:hover {
    background-color: rgb(109, 74, 56);
}







.flower-content {
    align-items: center;

    text-align: center;
    font-size: 1.5rem;

}


.flower img {
    width: 100%;
    height: 70%;
    margin-bottom: 30px;
}

/*small device*/
@media screen and (max-width:576px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }


.banner-content h1{
    align-items: start;
    font-size: 1.7rem;
}
    .banner-phone {
        flex-direction: column-reverse;
    }

    .ban-phn-img {
        margin-top: 5%;
    }

    .ban-phn-img img {
        max-height: 100%;
        max-width: 100%;
    }



    .flower {

        max-height: 484.94px;
    }


}




/*mobile*/
@media screen and (max-width:576px) {
    .nav-phone {
        display: none;
    }

    .phone-display {
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    .phone-logo {
        opacity: 100%;
        max-width: 63px;
        max-height: 38px;
    }

    .cart {
        max-width: 4%;
        margin-right: 10px;
    }

    .nav-link {
        align-items: center;
      
    }

}

.card-heading {
    text-align: center;
}

.store {
    display: flex;
    gap: 30px;

    margin-top: 20%;
    align-items: center;

}

.store img {
    max-width: 100%;
    max-height: 100%;
}

.list-text {
    font-size: 1.37rem;
}

.list-h1 {
    font-size: 4rem;
}

.store-list {
    display: flex;
    gap: 20px;
    flex-direction: column;

}

@media screen and (max-width:576px) {
    .store-phone {
        margin-top: 10%;
    }

    .store-list-phone {
        display: flex;
        flex-direction: column;

    }

    .badge2 {

        margin-top: 100%;


    }
    
    .list-h1{
        align-items: start;
        font-size: 2rem;
       
        
    }

    .hidden {
        display: none;
    }

    .store-main {
        margin-top: 10%;
        flex-direction: column;
    }
}



.flower-store {
    margin-top: 38px;
    margin-bottom: 38px;

    padding-left: 5%;

}


.badge {
    position: relative;
    width: 20%;

    margin-left: -180px;
    margin-top: -590px;
}

.blom {
    background-image: url(../Images/deal-bloom.png);
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.591);
    border-radius: 5%;
    background-size: cover;
}

.ana {
    background-image: url(../Images/deal-ana.png);
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.625);
    border-radius: 5%;
    background-size: cover;
}

.bg-color {

    height: 100%;
    width: 100%;
    margin-top: -25px;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.399);
    background-size: cover;

}

.bg-color h1 {
    padding-top: 15%;
}

.bg-color2 h1 {
    padding-top: 15%;
}

.bg-color2 {
    height: 100%;
    width: 100%;
    margin-top: -45px;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.399);
    background-size: cover;
}

.zabo {
    background-image: url(../Images/deal-zabo.png);
    background-repeat: no-repeat;
    height: 423px;

    border-radius: 2%;
    text-align: center;

    width: 100%;
    background-size: cover;
}

.field {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1.8fr;


    gap: 20px;
}

.bloan {
    display: flex;
    gap: 20px;

    text-align: center;
    flex-direction: column;
    max-height: 423px;
}

footer {
    margin-top: 120px;
}

.subscribe {

    background-image: url(../Images/news-letter-bg.png);
    background-repeat: no-repeat;

    margin: 0 auto;
    max-width: 1440px;


    padding: 10%;
    text-align: center;


    background-size: cover;
}


.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}



.bunch {
    text-align: center;
    font-size: 1.5rem;
}

.email {}

.inputbtn {
    width: 830px;

    display: flex;



}

input[type="email"] {

    font-size: .89rem;

    border: solid olivedrab 2px;
    border-radius: 4%;
    padding-left: 2%;
    width: 70%;
}

button {

    text-align: center;
    font-size: .89rem;
    background-color: #f25c05;
    padding: 2%;
    width: 30%;
    color: white;
    border-radius: 5%;
    cursor: pointer;
}

.nav-foot a {
    text-decoration: none;
}

.main-foot {
    padding: 7%;

}

.footer-end {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 15%;

}

.nav-foot {}

.nav-foot li {
    list-style: none;
}

.icon {
    display: flex;
    gap: 20px;
    max-width: 200px;
}

.icon img {
    max-width: 20%;
    max-height: 20%;
}

.deals {
    margin-top: 10%;
}

@media screen and (max-width:576px) {
    .field-phone {
        margin-top: 120px;
        display: grid;
        grid-template-columns: 1fr;


        gap: 20px;
    }

    .zabo2 {
        background-image: url(../Images/deal-zabo.png);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        margin-top: 5%;
        text-align: center;

        border-radius: 5%;
        background-size: cover;
    }

    .bg-color2 {
        height: 100%;
        width: 100%;
        align-items: center;
        border-radius: 5%;
        background-color: rgba(0, 0, 0, 0.399);
        background-size: cover;
    }

    .bg-color2 h1 {
        padding: 0%;
    }

    .noto2 {
        color: #ffffff;
        font-weight: bold;
        font-size: 1.5rem;
    }



}

@media screen and (max-width:576px) {
    .subscribe-phone {
        background-image: url(../Images/news-letter-bg.png);
        background-repeat: no-repeat;

        margin: 0 auto;




        text-align: center;


        background-size: cover;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


    }



    .bunch h1 {
        text-align: center;
        font-size: 1rem;
    }

   

    .inputbtn {
        width: 70%;

        display: flex;



    }

    input[type="email"] {

        font-size: .89rem;

        border: solid olivedrab 2px;
        border-radius: 4%;
        padding-left: 2%;
        width: 70%;
    }

    button {

        text-align: center;
        font-size: .70rem;
        background-color: #f25c05;
        padding: 2%;
        width: 30%;
        color: white;
        border-radius: 5%;
        cursor: pointer;
    }


}

@media screen and (max-width:576px) {

        .main-foot{
            margin-top: 5%;
        }

        .footer-end {
           align-items: start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20%;
    
        }
        .nav-foot{
            margin-bottom: 10%;
        }


}